@charset "utf-8";
/* CSS Document */
 h1
 {padding-top:0;
 margin-top:0; 
 padding-bottom:0;
margin-bottom:0;
 }
 h2
 {padding-bottom:0;
 padding-top:0;
 margin-top:0;
 margin-bottom:10px}
 h3
 {
	padding-bottom:0;
	padding-top:10px;
	margin-top:0;
	margin-bottom:0;
 }
.price
{text-align:center;
font-weight:bold;
font-size:14pt;
}
.jumbotron
 {padding:20px;
 margin-top:30px;
 margin-left:20px;
 margin-left:20px;
}
.txtCenter
{
	text-align	:center;
}
.foot
{
	text-align	:center;
	font-weight	:bold;
	font-size	:12pt;
	border		:1px solid;
    border-radius:10px;
	margin-left	:20px;
	margin-right:40px;
	margin-top	:20px;
}
div.row > div > div.row {
				margin-bottom:10px;
			}

			body {
				padding-bottom: 50px;
			}

			div.top-header {
				margin-bottom:100px;
			}

			h3.page-header {
				margin-top: 50px;
			}

			figure {
				position: relative;
			}

			figure figcaption {
				font-size: 22px;
				color: #fff;
				text-decoration: none;
				bottom: 10px;
				right: 20px;
				position: absolute;
				background-color: #000;
			}
			code {
				white-space: pre-wrap;       /* css-3 */
				white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
				white-space: -pre-wrap;      /* Opera 4-6 */
				white-space: -o-pre-wrap;    /* Opera 7 */
				word-wrap: break-word;       /* Internet Explorer 5.5+ */
			}